name: Build and deploy prod
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  sanity-deploy:
    runs-on: ubuntu-latest
    name: Deploy Sanity
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm

      - name: npm install
        run: npm ci

      - name: Add sanity
        run: npm install -g @sanity/cli

      - name: Sanity install
        run: sanity install

      - name: Deploy sanity
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_DEPLOY_TOKEN }}
        run: sanity deploy
