name: Build
on:
  pull_request:
    branches:
      - "main"

jobs:
  pr-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # ratchet:actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm

      - name: npm install
        run: npm ci

      - name: sanity Build
        run: npm run build

      - name: Validate Sanity schema
        run: npx sanity schema validate
