name: Build and deploy prod
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  sanity-deploy:
    runs-on: ubuntu-latest
    name: Deploy Sanity
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # ratchet:actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn

      - name: Yarn install
        run: yarn --prefer-offline --frozen-lockfile

      - name: Add sanity
        run: yarn global add @sanity/cli

      - name: Sanity install
        run: sanity install

      - name: Deploy sanity
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_DEPLOY_TOKEN }}
        run: sanity deploy
