name: Pull request
on:
  pull_request:
    branches:
      - "main"

jobs:
  pr-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # ratchet:actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn

      - name: Yarn install
        run: yarn --prefer-offline --frozen-lockfile
